'.source.bgscript':
  'editor':
    'commentStart': '# '
    'increaseIndentPattern': '^\\s*((event|prodecure|export).+\\(.*\\)|.+then\\b|else\\b)$'
    'decreaseIndentPattern': '^\\s*(end\\w*|else\\b)$'
